@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans&display=swap');

/* 여백 초기화  */
* { margin:0; padding:0; }

/* 목록 불릿 없애기 */
ol, ul { list-style:none; }

/* 하이퍼링크 설정 */
a:link { text-decoration:none; color:#000; }
a:hover { text-decoration:none; color:#000; }
a:visited { text-decoration:none; color:#000; }
a:active { text-decoration:none; color:#000; }
a:focus { text-decoration:none; color:#000; }


legend, caption { display:none; }
fieldset { border:0; }
input, select, textarea { vertical-align:middle; }


body { font-family: 'Open Sans', 'Noto Sans KR', serif; font-size:16px; line-height:26px; color:#000; }
#wrap { min-width:1200px; overflow-x: hidden; }

/* allmenu */
.all_box { width:100%; height:100%; background:#67625e; position:fixed; left:0; top:0; z-index:999999; }
.all_title { font-size:100px; font-weight:bold; text-transform:uppercase; text-align:center; color:#a89079; padding-top:200px; }
.all_gnb { width:1200px; margin:100px auto 0; }
.all_gnb > li { width:25%; float:left; text-align:center; }
.all_gnb > li > a { display:block; padding:30px 0; font-size:30px; color:#FFF; font-weight:bold; }
.all_dp2 { border-top:1px solid rgba(255,255,255,0.2); padding-top:20px; margin:0 30px; }
.all_dp2 a { display:block; padding:5px 0; color:rgba(255,255,255,0.3); transition:color 0.5s; }
.all_dp2 a:hover { color:#FF0; }
.all_close { position:absolute; right:0; top:0; }



/* header */
#header { height:180px; text-transform:uppercase; }
#header .header_inner { width:1200px; margin:0 auto; position:relative; }

#header h1 { position:absolute; left:50%; transform: translateX(-50%); top:50px; }
#header .all_menu { position:absolute; left:0; top:140px; }

.gnb { position:absolute; left:50%; margin-left: -350px; top:130px; z-index:999; }
.gnb > li { float:left; }
.gnb > li:hover > a { color:#758246; }
.gnb > li:hover .dp2 { background: rgba(0,0,0,0.3); }
.gnb > li > a { display:block; padding:9px 40px 15px; font-weight: bold; }
.dp2 { font-size:14px; text-align:center; padding-top:15px; height:150px;  box-sizing:border-box; transition: background 0.5s; }
.dp2 li a { color:#FFF; transition:color 0.5s; text-transform:capitalize; }
.dp2 li a:hover { color:#FF0; }
.dp2_bg { position:absolute; left:0; top:180px; width:100%; height:150px; background:#758246; z-index:99; }

#header .member { position:absolute; right:40px; top:140px; }
#header .member li { float:left; padding-left:15px; }
#header .member li a { color:#999; font-size:12px; }
#header .search { position:absolute; right:0; top:143px; }




/* sub */
#sub_contents {  }
.bg_brand { background:url(../images/sub/sv_brand.jpg) no-repeat center 0; }
.bg_shopping { background:url(../images/sub/sv_shopping.jpg) no-repeat center 0; }
.bg_event { background:url(../images/sub/sv_event.jpg) no-repeat center 0; }
.bg_cs { background:url(../images/sub/sv_cs.jpg) no-repeat center 0; }



#sub_visual { font-size:30px; padding:120px 0; font-weight:bold; text-transform:uppercase; text-align:center; color:#FFF; }


/* snb */
#lnb { width: 1200px; margin: 0 auto; }
#lnb::after { content: ""; clear: both; display: block; }
#lnb > li { float: left; width: calc(100%/3); position: relative; }
#lnb > li > a { display: block; background: #a89079 url('../images/common/arrowdown.png') no-repeat 90% center; color: rgba(255,255,255,0.5); padding: 15px 40px; border-right: 1px solid rgba(255,255,255,0.2); }
#lnb > li:first-child > a { background: #a89079 url('../images/common/home.png') no-repeat 40px center; padding-left: 70px; }
#lnb > li:last-child > a { border-right: 0; color: #fff; }


#lnb > li > .lnb_dp2 { position: absolute; width: 100%; z-index: 99; }
#lnb > li > .lnb_dp2 li a { transition: background 0.5s; display: block; background: #a89079; color: rgba(255,255,255,0.5); padding: 15px 40px; border-bottom: 1px solid rgba(255,255,255,0.2); }
#lnb > li > .lnb_dp2 li:first-child a { border-top: 1px solid rgba(255,255,255,0.2); }
#lnb > li > .lnb_dp2 li a:hover,#lnb > li > .lnb_dp2 li a.on { background: #987d63; }




/* brand story */
#brand { width:1200px; margin:120px auto; }
#brand .story::after { content: ""; display: block; clear: both; }
#brand .story figure { width:420px; float:left; }
#brand .story figcaption { width:700px; float:right; }
#brand h3 { font-size:30px; padding-bottom:10px; }
#brand h4 { font-size:20px; padding-bottom:30px; color:#a89079; }
#brand .story p { color:#999; padding-bottom:20px; }
#brand .location { margin-top:100px; }



/* shopping */
#products { width:1200px; margin:100px auto; }
#products h3 { font-size:30px; padding:10px 0 50px; }
#products .product_list::after { content: ""; clear: both; display: block; }
#products .product_list li,.product_list2 li { float:left; width:24%; height:450px; background:#EEE; text-align:center; position:relative; margin:0 0.5% 50px; cursor:pointer; }
#products .product_list li:hover .overbox,#products .product-list2 li:hover .overbox { opacity:1; }
#products .overbox { opacity:0; position:absolute; left:0; top:0; background:rgba(0,0,0,0.9); width:100%; height:100%; padding-top:120px; box-sizing:border-box; transition:opacity 1s; }
#products .product_name { font-size:20px; padding:20px 0; }
#products .product_name a { color:#000; }
#products .price { font-size:30px; color:#FFF; font-weight:bold; padding-bottom:10px; }
#products .sale { font-size:20px; color:#666; text-decoration:line-through; padding-bottom:40px; }
#products a.cart { display:inline-block; width:50%; padding:10px 0; background:#fd5d5d; margin-bottom:10px; color:#FFF; }
#products a.detail { display:inline-block; width:50%; padding:10px 0; background:#FFF; }

#products .btn_more { transition: background 0.5s; width: 500px; margin: 0 auto; text-align: center; border: 1px solid #000; border-radius: 50px; padding: 10px 0; cursor: pointer; }
#products .btn_more:hover { background: #000; color: #fff; }


/* event */
#event { width:1200px; margin:100px auto; }
#event .event_list::after { content: ""; clear: both; display: block; }
#event .event_list li { width:590px; padding-bottom:30px; background:#EEE; margin-bottom:50px; }
#event .event_list li:nth-child(odd) { float:left; }
#event .event_list li:nth-child(even) { float:right; }
#event .event_name { font-size:20px; font-weight:bold; padding:20px 0 10px 30px; }
#event .event_name a { color:#999; }
#event .event_ment { color:#999; padding-left:30px; }



/* cs center */
#notice { width:1200px; margin:100px auto; }
#notice .search { text-align:right; height:35px; padding-bottom:15px; }
#notice select { width:80px; height:30px; padding:4px; border: 1px solid #CCC; vertical-align:middle; }
#notice input[type="text"] { border:1px solid #CCC; padding:5px; vertical-align:middle; height:18px; }
#notice input[type="submit"] { padding:5px 20px; color:#FFF; background: #333; border:1px solid #333; vertical-align:middle; height:30px; }

#notice table { border-collapse:collapse; width:100%; }
#notice table th { padding:15px 0; border-top:1px solid #666; border-bottom:1px solid #ccc; }
#notice table td { padding:10px; border-bottom:1px solid #f0f0f0; text-align:center; }
#notice table tr td:nth-child(2) { text-align:left; }
#notice a { transition: color 0.3s; }
#notice a:hover { color: #758246; }


#notice .pagebox { padding-top:40px; }
#notice .page { text-align:center; }
#notice .page li { display:inline-block; border:1px solid #e6e6e6; margin:1px; padding:5px 15px; }
#notice .page li.on { display:inline-block; padding:5px 15px; border:1px solid #758246; background:#758246; color:#FFF; font-weight:bold; }
#notice .page li:nth-child(1) { border:0; text-indent:-9999px; background:url(../images/sub/paging_first.png) no-repeat center center; cursor:pointer; }
#notice .page li:nth-child(2) { border:0; text-indent:-9999px; background:url(../images/sub/paging_prev.png) no-repeat center center; cursor:pointer; }
#notice .page li:nth-child(8) { border:0; text-indent:-9999px; background:url(../images/sub/paging_next.png) no-repeat center center; cursor:pointer; }
#notice .page li:nth-child(9) { border:0; text-indent:-9999px; background:url(../images/sub/paging_last.png) no-repeat center center; cursor:pointer; }



/* footer */
#footer { border-top:1px solid #DDD; height:300px;  }
#footer .footer_inner { width:1200px; margin:0 auto; position:relative; }
#footer .foot_logo { position:absolute; left:0; top:80px; }
#footer .foot_link { position:absolute; left:150px; top:80px; }
#footer .foot_link li { float:left; padding-right:20px; }
#footer address { position:absolute; left:150px; top:130px; font-style:normal; color:#999; }
#footer address span { display:inline-block; padding:0 20px; }
#footer .sns { position:absolute; right:0; top:80px; }
#footer .sns li { float:left; padding-left:10px; opacity:0.5; transition:opacity 0.5s; }
#footer .sns li:hover { opacity:1; }
#footer .call { position:absolute; right:0; top:130px; text-align:right; }
#footer .call span { color:#F60; font-size:30px; line-height: 40px; }



/* etc */
#gotop { display:none; position:fixed; right:50px; bottom:50px; }

